<div class="container">
  <h4 class="text-center">Create, Update and Delete Wine</h4>
  <div *ngIf="!WineList">
    <div class="alert alert-secondary" role="alert">
      <p>Wines not available yet</p>
    </div>
  </div>

  <div *ngIf="WineList">
    <a class="btn btn-success mb-5">Add Wine</a>
    <p>Select to Update or Delete</p>
    <hr>
    <div *ngFor="let wine of WineList">
      <div class="row mt-2">
        <div class="col-3 text-center">
          <img src="http://localhost:8000{{ wine.image }}" alt="" class="wine-img">
        </div>
        <div class="col-3 text-center ">
          <span class="align-middle">{{ wine.name }}</span>
        </div>
        <div class="col-3 text-center">
          {{ wine.quantity }}
        </div>
        <div class="col-3">
          <a class="btn btn-secondary" [routerLink]="['/wine/edit/', wine.id]">Update / Delete</a>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
